<div class={{concat "form-field " @class}}>
  <label class="block text-gray-700 text-sm mb-2" for={{@id}}>
    {{@label}}
  </label>

  {{input
    value=(readonly @value)
    input=(action
      (if @action @action (mut @value))
      value="target.value")
    class=(concat "shadow appearance-none border "
      "rounded w-full py-2 px-3 text-gray-700 leading-tight "
      "focus:outline-none focus:shadow-outline font-light "
      "text-sm" (if @disabled " opacity-50 cursor-not-allowed"))
    id=@id
    type=(if @type @type "text")
    placeholder=@placeholder
    required=@required
    disabled=@disabled
    autocomplete="off"}}
</div>
