<div class={{concat "form-field " @class}}>
  <label class="block text-gray-700 text-sm font-bold mb-2" for={{@id}}>
    {{@label}}
  </label>

  {{input
    value=@value
    class=(concat "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" (if @disabled " opacity-50 cursor-not-allowed"))
    id=@id
    type=(if @type @type "text")
    placeholder=@placeholder
    required=@required
    disabled=@disabled}}
</div>
