{{#each flashMessages.queue as |flash|}}
  {{#flash-message flash=flash as |component flash|}}
    <div class="absolute right-0 bottom-0 bg-blue-200 text-blue-800 text-sm px-4 py-3 m-4" role="alert">
      <p>{{flash.message}}</p>
    </div>
  {{/flash-message}}
{{/each}}

{{outlet}}
