<div class="container mx-auto my-10">
  <div class="w-1/2 px-4 py-5 float-left">
    <SectionPane @title="#1. Basic Form Saving" @color="green">
      <PageLink @targetRoute="part-1.promises" @class="mb-3">promises (async/await)</PageLink>
      <PageLink @targetRoute="part-1.ember-concurrency" @class="mb-3">ember-concurrency task</PageLink>
      <PageLink @targetRoute="part-1.observables">observables/rxjs</PageLink>
    </SectionPane>
  </div>

  <div class="w-1/2 px-4 py-5 float-left">
    <SectionPane @title="#2. Draft Saving" @color="teal">
      <PageLink @targetRoute="part-2.promises" @class="mb-3">promises (async/await)</PageLink>
      <PageLink @targetRoute="part-2.ember-concurrency" @class="mb-3">ember-concurrency task</PageLink>
      <PageLink @targetRoute="part-2.observables">observables/rxjs</PageLink>
    </SectionPane>
  </div>

  <div class="w-1/2 px-4 py-5 float-left">
    <SectionPane @title="#3. Refining" @color="blue">
      <PageLink @targetRoute="part-3.promises" @class="mb-3">promises (async/await)</PageLink>
      <PageLink @targetRoute="part-3.ember-concurrency" @class="mb-3">ember-concurrency task</PageLink>
      <PageLink @targetRoute="part-3.observables">observables/rxjs</PageLink>
    </SectionPane>
  </div>

  <div class="w-1/2 px-4 py-5 float-left">
    <SectionPane @title="#4. Extras" @color="pink">
      <PageLink @targetRoute="part-4.promises" @class="mb-3">promises (async/await)</PageLink>
      <PageLink @targetRoute="part-4.ember-concurrency" @class="mb-3">ember-concurrency task</PageLink>
      <PageLink @targetRoute="part-4.observables">observables/rxjs</PageLink>
    </SectionPane>
  </div>
</div>
