<div class="container mx-auto my-10 max-w-md">
  <div class="px-4 py-5">
    <SectionPane @title="#1. Basic Form Saving" @color="green">
      <PageLink @targetRoute="part-1.promises" @class="mb-3">promises</PageLink>
      <PageLink @targetRoute="part-1.coroutines" @class="mb-3">coroutines</PageLink>
      <PageLink @targetRoute="part-1.observables">observables</PageLink>
    </SectionPane>
  </div>

  <div class="px-4 py-5">
    <SectionPane @title="#2. Draft Saving" @color="teal">
      <PageLink @targetRoute="part-2.promises" @class="mb-3">promises</PageLink>
      <PageLink @targetRoute="part-2.coroutines" @class="mb-3">coroutines</PageLink>
      <PageLink @targetRoute="part-2.observables">observables</PageLink>
    </SectionPane>
  </div>

  <div class="px-4 py-5">
    <SectionPane @title="#3. Refining" @color="blue">
      <PageLink @targetRoute="part-3.promises" @class="mb-3">promises</PageLink>
      <PageLink @targetRoute="part-3.coroutines" @class="mb-3">coroutines</PageLink>
      <PageLink @targetRoute="part-3.observables">observables</PageLink>
    </SectionPane>
  </div>
</div>
